#cinema{
    width: 33em;
	margin-right: 0;
	padding: auto;
}
#searchButton {
	width: 14em;
	margin-left: 0;
	padding: auto;
}
 #date {
	width: 14em;
    padding: auto;

}
.block{
    display: grid;
    grid-template-rows: 30% 40% 15% 15%;
    border: 1px solid black;
    align-content: center;
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50px 20px;
    justify-items: center;
    background-color: white;
}

img{
     padding: 5px;
}
#schedule {
    display: inline-flex;
    flex-wrap: wrap;

}
#select {
    font-size: 1.5rem;
    padding: 25px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
	align-items: center;
    justify-content: space-between;
    width:80%;
    border-radius: 20px;
    background-color: yellow;
	margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
    background-color: white;
    padding-top: 10px;

}
h1{
   border: 1px solid black; 
   border-radius: 20px;
   width:82%;
   padding: 10px; 
 
   background-color: yellow;
}
img {
    padding: 15px;
}
.content {
    max-width: 80%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
	vertical-align: middle;
    
}
body{
    background-color: black;
    font-family: verdana;
   
}