#cinema{
    width: 15em;
	margin-right: 0;
	height: 2em; 
	margin: 5px;
}
#searchButton {
	width: 10em;
	margin: 5px;
	height: 2em; 
}
 #date {
	width: 8em;
	height: 1.5em;
	margin: 5px;

}
.block{
    display: grid;
    grid-template-rows: 30% 40% 15% 15%;
    border: 1px solid black;
    align-content: center;
    padding: 10px;
    width: 320px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50px 20px;
    justify-items: center;
    background-color: white;
}

img{
     padding: 5px;
}
#schedule {
    display: flex;
    flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;

}
#select {
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
	align-items: center;
    justify-content:space-around;
    border-radius: 10px;
    background-color: #eeee2b;
	width: 100%;
}

h2 {
    text-align: center;
    background-color: white;
    padding-top: 10px;
}

header {
	background-image: url("images/red.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	text-shadow: 3px 3px 4px #000000;
	padding: 40px;
	background-color: black;
	font-family: "Arial Black", "Gadget", sans-serif;
	color: white;
	font-size: 4rem;
	width: 100%;

}
h1{
   font-size: 1.3rem;
   font-family: "Arial Black", "Gadget", sans-serif;;
   border-radius: 10px;
   width: 100%;
   padding: 10px; 
   margin: 0;
   text-align: center;
   background-color: #eeee2b;
}
img {
    padding: 15px;
}
.content {
    max-width: 80%;
    margin: 0;
    display:flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
body{
    background-image: url("images/cinema_body.jpg");
	background-color: black;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
    font-family: "Arial Black", "Gadget", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
